@import "fonts";
@import "rouge-github";

*:not(link) {
  outline: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  transition: 0.2s;
  color: inherit;
}

body {
  background-color: var(--bg-color);
  padding: 50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  font-weight: 400;
}

input {
  background-color: var(--header-hover-bg);
  border-radius: 12px;
  border: 1px solid transparent;
}

input:hover {
  border: 1px solid var(--link-color);
}

input:focus {
  color: var(--code-fg);
  background-color: var(--code-bg);
  border: 1px solid var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  margin: 0 0 20px;
}

p {
  text-align: justify;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

ul,
ol {
  padding-left: 32px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: var(--heading2-color);
}

h3,
h4,
h5,
h6 {
  color: var(--heading3-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  /* Fake bold */
  text-shadow: 0px 0px 1px var(--link-hover-shadow);
}

a small {
  font-size: 11px;
  color: var(--link-small-color);
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: var(--link-small-color);
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid var(--blockquote-border);
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: var(--code-fg);
}

pre {
  padding: 8px 15px;
  background: var(--code-bg);
  border-radius: 5px;
  border: 1px solid var(--code-border);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid var(--table-border);
}

dt {
  color: var(--dt-color);
  font-weight: 700;
}

th {
  color: var(--th-color);
}

img {
  max-width: 100%;
}

kbd {
  background-color: var(--kbd-bg);
  border: 1px solid var(--kbd-border);
  border-bottom-color: var(--kbd-border-bottom);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--kbd-border-bottom);
  color: var(--kbd-text);
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

section {
  position: relative;
  left: 296px;
  width: calc(100% - 270px - 50px);
  max-width: calc(100% - 270px - 50px);
  min-width: calc(100% - 270px - 50px);
}

header {
  position: fixed;
  width: 270px;
  margin-right: 24px;
  -webkit-font-smoothing: subpixel-antialiased;
}

header ul li {
  cursor: pointer;
  list-style: none;
  padding: 8px;
  margin: 0;
  border-radius: 10px;
}

header ul li:hover {
  background: var(--header-hover-bg);
}

strong {
  color: var(--strong-color);
  font-weight: 700;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: var(--hr-color);
  height: 1px;
  margin: 0 0 20px;
}

#toggle-theme {
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 20px;
  border-radius: 50%;
  background: transparent;
  border: none;
}

@media print,
screen and (max-width: 960px) {
  /* TODO: Mobile styles */
}
